#iw-container  .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0; /* De acordo com o arredondamento dos cantos da infowindow por padrão. */
  }
  
  .gm-style-iw {
    width: 180px !important;
    top: 1px !important; /* mover a infowindow 15px para baixo*/
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(255, 208, 0, 0.6);
    border-radius: 2px 2px 0 0;
  
  } 
